[submodule "2024/squid-box-csharp"]
	path = 2024/squid-box-csharp
	url = https://github.com/squid-box/adventofcode2024.git

[submodule "2024/digimatic-rust"]
	path = 2024/digimatic-rust
	url = https://github.com/digimatic/advent_of_code_2024-rust.git

[submodule "2024/yxhuvud-crystal"]
	path = 2024/yxhuvud-crystal
	url = git@github.com:yxhuvud/aoc24

[submodule "2024/mawkler-rust"]
	path = 2024/mawkler-rust
	url = git@github.com:mawkler/advent-of-code.git
[submodule "2024/johan1a-scala"]
	path = 2024/johan1a-scala
	url = https://github.com/johan1a/advent-of-code-2024.git
[submodule "2024/kjelloh-cpp"]
	path = 2024/kjelloh-cpp
	url = https://github.com/kjelloh/advent_of_code_2024.git
